.container {
  display: grid;
  grid-template-rows: auto 1fr;

  background: linear-gradient(180deg, var(--white) 0%, var(--background) 100%);
  filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.05));
}

.container > svg {
  margin: 2rem;
  cursor: pointer;
}

.container nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container nav button {
  position: relative;

  padding: 1rem 0;

  border: 0;
  background: 0;
  font-size: 0;
}

.container nav button:focus {
  outline-color: var(--blue-dark);
}

.container nav button svg {
  font-size: 2rem;
  color: var(--text);

  transition: color .2s;
}

.container nav button:not(:disabled):hover svg, .container nav button:focus svg {
  color: var(--blue-dark);
}

.container nav button:disabled svg {
  color: var(--blue);
}

.container nav button::before {
  content: "";

  position: absolute;
  top: calc(50% - 4px);
  left: -4px;

  width: 8px;
  height: 8px;
  border-radius: 16px;
  background-color: var(--blue);

  opacity: 0;

  transition: opacity .2s, height .2s, top .2s;
}

.container nav button:not(:disabled)::before {
  background-color: var(--blue-dark);
}

.container nav button:not(:disabled):not(:focus):hover::before {
  opacity: 1;

  height: 50%;
  top: 25%;
}

.container nav button:disabled::before {
  opacity: 1;

  height: 100%;
  top: 0;
}

.container nav button:focus::before {
  opacity: 1;

  height: 80%;
  top: 10%;
}
